<!DOCTYPE html>
<html>
  <head>
    <title>CatFacts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- This name needs to align with the Angular module definition -->
  <!-- Found in: app/assets/javascripts/main.js -->
  <body ng-app="catFacts">
    <%= yield %>

    <!-- Hello World equivalent in Angular -->
    {{ 1 + 1 }} is 2 because of Angular
  </body>
</html>
